.image img{
    width:100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.innerPost{
    margin: 20px;
    width: 30%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    background-color: white;

}
.description{
    padding: 20px 30px 10px 10px
}
.emptyFav{
    color: white;
}
.render{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


@media only screen and (max-width: 400px){
    .innerPost{
        margin: 20px;
        width: 70%;
        border-radius: 5px;
        box-shadow: 2px 2px 5px black;
    
    }
}