.outerContainer{
    margin-top: 20px;
}

.innerContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: 55%;
    border:1px solid #E5E5E5;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}


.inputs{
   
    align-items: center;
    padding-top: 5px;
}

.input{
    height: 20px;
    font-size: 15px;
}

.inputButton{
    font-size: 15px;
    margin-left: 10px;
    background-color: #C60E0D;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.label{
    font-size: 18px;
    font-weight: bold;
}

.line{
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: -20;
    width:53vw;
    border: 0.2px solid #E5E5E5;
}